Repository Mudlet/Mudlet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Mudlet/core-cpp, @Mudlet/ui-review, @Mudlet/lua-interface, @Mudlet/infrastructure

Revert "Remove some additional linker search paths on windows"
  src/mudlet.pro
Owners: @Mudlet/infrastructure

Remove commented-out code.
  src/ctelnet.cpp
Owners: @Mudlet/core-cpp, @Mudlet/ui-review

BugFix: ensure logging settings are saved with profile
  src/XMLexport.cpp
  src/XMLimport.cpp
Owners: @Mudlet/core-cpp, @Mudlet/ui-review

BugFix: copy single line text without leading spaces
  src/TCommandLine.cpp
  src/TTextEdit.cpp
  src/TTextEdit.h
Owners: @Mudlet/core-cpp, @Mudlet/ui-review

Add output about installing Qt
  CI/appveyor.install.ps1
Owners: @Mudlet/infrastructure

Change default MINGW path
  src/mudlet.pro
Owners: @Mudlet/infrastructure

Revised: move the control for "show Icons on menu" to "Special options" tab
  src/dlgProfilePreferences.cpp
  src/mudlet.cpp
  src/mudlet.h
  src/ui/profile_preferences.ui
Owners: @Mudlet/core-cpp, @Mudlet/ui-review

Start on MXP <SUPPORTS> tag code
  src/TBuffer.cpp
Owners: @Mudlet/core-cpp, @Mudlet/ui-review

First go at processSupportsRequest()
  src/TBuffer.cpp
  src/TBuffer.h
Owners: @Mudlet/core-cpp, @Mudlet/ui-review

Fix the saving of config dir variable when profile preferences saved
  src/dlgProfilePreferences.cpp
  src/dlgTriggerEditor.cpp
Owners: @Mudlet/core-cpp, @Mudlet/ui-review

Fixed up function, works on t2mud
  src/TBuffer.cpp
Owners: @Mudlet/core-cpp, @Mudlet/ui-review

Allow loading of maps if no map is currently available
  src/T2DMap.cpp
  src/T2DMap.h
Owners: @Mudlet/core-cpp, @Mudlet/ui-review

Added support for creating new maps
  src/T2DMap.cpp
  src/T2DMap.h
Owners: @Mudlet/core-cpp, @Mudlet/ui-review

BugFix: correct some issues with background colors not showing on screen (#1719)
  src/TConsole.cpp
  src/TConsole.h
  src/TTextEdit.h
  src/dlgProfilePreferences.cpp
  src/dlgProfilePreferences.h
  src/ui/profile_preferences.ui
Owners: @Mudlet/core-cpp, @Mudlet/ui-review

Adjust text per review
  src/T2DMap.cpp
  src/dlgProfilePreferences.cpp
Owners: @Mudlet/core-cpp, @Mudlet/ui-review

Rename variables
  src/T2DMap.cpp
  src/T2DMap.h
  src/TArea.cpp
  src/TArea.h
  src/TMap.cpp
  src/TRoomDB.cpp
Owners: @Mudlet/core-cpp, @Mudlet/ui-review

More renaming
  src/T2DMap.cpp
  src/T2DMap.h
  src/TLuaInterpreter.cpp
  src/TMap.h
  src/dlgProfilePreferences.cpp
Owners: @Mudlet/core-cpp, @Mudlet/ui-review, @Mudlet/lua-interface

Added getGridMode()
  src/TLuaInterpreter.cpp
  src/TLuaInterpreter.h
Owners: @Mudlet/core-cpp, @Mudlet/lua-interface, @Mudlet/ui-review

.github/CODEOWNERS:

# This file does not signify real code owners. We use it to automate the 
# process of assigning code reviews. But generally all members of the
# project own the whole product.

# Normally, *.ui, *.cpp and *.h files are reviewed by the core-cpp team only
# All files containing UI text are reviewed by the ui-review team
*.cpp                           @Mudlet/core-cpp @Mudlet/ui-review
*.h                             @Mudlet/core-cpp
*.ui                            @Mudlet/core-cpp @Mudlet/ui-review

# But the lua interface has additional reviewers
/src/LuaInterface.cpp           @Mudlet/core-cpp @Mudlet/lua-interface @Mudlet/ui-review
/src/LuaInterface.h             @Mudlet/core-cpp @Mudlet/lua-interface
/src/TLuaInterpreter.cpp        @Mudlet/core-cpp @Mudlet/lua-interface @Mudlet/ui-review
/src/TLuaInterpreter.h          @Mudlet/core-cpp @Mudlet/lua-interface

# The lua-interface team is also reviewing everything below the mudlet-lua
# folder and some pre-installed packages
/src/mudlet-lua/                @Mudlet/lua-interface
/src/3k-mapper.xml              @Mudlet/lua-interface
/src/deleteOldProfiles.xml      @Mudlet/lua-interface
/src/echo.xml                   @Mudlet/lua-interface
/src/generic_mapper_script.xml  @Mudlet/lua-interface
/src/mudlet-mapper.xml          @Mudlet/lua-interface
/src/run-lua-code-v4.xml        @Mudlet/lua-interface

# CI and compiler files are reviewed by the infrastructure team
.travis.yml                     @Mudlet/infrastructure
.appveyor.yml                   @Mudlet/infrastructure
/CI/                            @Mudlet/infrastructure
*.pro                           @Mudlet/infrastructure
*.pri                           @Mudlet/infrastructure
CMakeLists.txt                  @Mudlet/infrastructure
/cmake/                         @Mudlet/infrastructure
